<p>
  state-list works!
</p>
  <select stateid="state" countryid="country" statename="state" onchange="getcountryid(this.value)">
  <option>Select State</option>
    <option countryid="1" statename="AndhraPradesh">AndhraPradesh</option>
    <option countryid="1" statename="Telangana">Telangana</option>
    <option countryid="1" statename="Karnataka">Karnataka</option>
    <option countryid="2" statename="Colorado">Colorado</option>
    <option countryid="2" statename="Texas">Texas</option>
    <option countryid="3" statename="QueensLand">QueensLand</option>
    <option countryid="3" statename="Tasmania">Tasmania</option>
    <option countryid="3" statename="Victoria">Victoria</option>
  </select>

